@media screen and (min-width: 320px) and (max-width: 1024px) {
    menu {
        height: 560px;
    }
    button.btn-login,button.btn-signin{
        width: 70px;
    }
    header button span.text{
        display: none;
    }
    header button,a.logo-website{
        width: auto;
    }
    header div.form-login{
        right: 90px;
    }
    div.signin{
        right: 60px;
    }
    /* SECTION 1 */
    section.section-1 > *{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    section.section-1 > * > *{
        width: 70%;
        text-align: center;
    }
    /* SECTION 1 */

    /* SECTION 2 */

    section.section-2 > img{
        width: 300px;
        box-shadow: 25px 25px 0px var(--main-color);
    }
    section.section-2a > img{
        width: 300px;
        box-shadow: 25px 25px 0px var(--main-color);
    }
    section.section-2b > img{
        width: 300px;
        box-shadow: 25px 25px 0px var(--main-color);
    }
    div.left-section-2{
        margin: 0;
        margin-top: 50px;
        justify-content: center;
        align-items: center;
    }
    div.left-section-2a{
        margin: 0;
        margin-top: 50px;
        justify-content: center;
        align-items: center;
    }
    div.left-section-2b{
        margin: 0;
        margin-top: 50px;
        justify-content: center;
        align-items: center;
    }
    div.left-section-2 > *{
        width: 100%;
        text-align: center;
    }
    div.left-section-2a> *{
        width: 100%;
        text-align: center;
    }
    div.left-section-2b> *{
        width: 100%;
        text-align: center;
    }
    div.left-section-2a> button{
        width: 60%;
        text-align: center;
    }
    div.left-section-2 > button{
        width: 60%;
        text-align: center;
    }
    div.left-section-2b> button{
        width: 80%;
        text-align: center;
    }
    p.subtitle-section-page2 {
        line-height: 22px;
        padding: 20px;
        font-size: 20px;
        width: auto;
    }
    
    /* SECTION 2 */

    /* SECTION 3 */

    div.all-cards{
        flex-wrap: wrap-reverse;
    }
    div.part-1-section-3,
    div.part-2-section-3,
    div.part-3-section-3 {
        display: flex;
        align-items: center;
        height: 500px;
        flex-direction: column;
        justify-content: space-around;
    }
    /* SECTION 3 */

    /* SECTION 4 */

    div.left-section-4{
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }
    div.left-section-4 > img{
        height: 334px;
    }
    div.right-section-4{
        padding: 0 20px;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
    }
    div.characteristics-section-4 {
        margin-top: 0px;
    }
    div.part-1-section-4,div.part-2-section-4{
        width: 100%;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    div.car{
        width: 250px;
        display: flex;
    }

    /* SECTION 4 */

    /* SECTION 5 */
    p.title-section-5 {
        font-size: 40px;
    }
    img.img-section-5 {
        max-width: 300px;
    }
    p.text-section-5 {
        width: 80%;
    }
    table {
        border-collapse: collapse;
        border: 2px solid rgb(200, 200, 200);
        font-family: sans-serif;
        letter-spacing: 0px;

    }
    /* SECTION 5 */

    /* SECTION 6 */
    div.right-section-6{
        margin-top: 20px;
    }
    p.text-right-section-6{
        width: 80%;
    }
    /* SECTION 6 */

    /* SECTION 8 */
    div.card-rating > p.text-opinion {
        font-size: 13px;
        width: 80%;
    }
    div.points-slider{
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    /* SECTION 8 */

    /* FOOTER */
    p.title-form{
        text-align: center;
    }
    div.text-form > p{
        text-align: center;
        width: 100%;
    }
    div.social-media{
        width: 100%;
        margin-bottom: 20px;
        margin-top: 20px;
        justify-content: space-around;
    }
    ::placeholder{
        font-size: 11px;
    }
    p.text-footer{
        font-size: 14px;
    }
    /* FOOTER */
}