/* sdfg */

/* ALFA SLAB ONE */
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

/* MONTSERRAT */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

:root {
  --maincolor: #3d2514;
}
html {
  scroll-behavior: smooth;
}
p,
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}
a,
li,
ul {
  list-style: none;
  text-decoration: none;
}
body {
  display: flex;
  margin: 0;
  padding: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Alfa Slab One", serif;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
/* HEADER */
header {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: 750px;
}
div.logo-menu {
  display: flex;
  width: 95%;
  margin-top: 20px;
  color: var(--maincolor);
  justify-content: space-between;
  align-items: center;
}
img.logo-header {
  margin-top: 0px;
}
nav.menu {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
}
ul.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
ul.menu > li > a {
  margin-right: 40px;
  color: var(--maincolor);
  font-size: 17px;
  font-weight: 500;
  transition: 0.3s;
}
ul.menu > li:nth-child(4) > a {
  margin-right: 0px;
}

ul.menu > li > a:hover {
  opacity: 0.8;
  transition: 0.3s;
}
div.express-delivery {
  display: flex;
  justify-content: center;
  align-items: center;
}
div.express-delivery > p {
  font-family: "Montserrat";
}
div.express-delivery > img {
  margin-right: 10px;
  animation: slidein 2s infinite;
  animation-timing-function: linear;
}

@keyframes slidein {
  0% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* HEADER */

/* DIV INTRO */
div.intro {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 95%;
  color: var(--maincolor);
  margin-top: 50px;
}
div.left-header {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}
section.headerwidget {
  font-size: 25px;
  margin-top: -50px;
}
p.text-intro-frame {
  border: dashed 2px var(--maincolor);
  padding: 7px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin-bottom: -70px;
  border-radius: 5px;
}
p.text-burger-intro {
  font-size: 98px;
  color: var(--maincolor);
  text-shadow: 4px 5px #fee7ba;
}
p.text-week-intro {
  font-size: 54px;
  margin-top: -70px;
  text-align: left;
  color: var(--maincolor);
  text-shadow: 4px 5px #fee7ba;
}
div.burger-week-price {
  display: flex;
  margin-right: 100px;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row-reverse;
}
div.burger-week-price > img.price {
  margin-right: -150px;
}

/* ARROW */
.scroll-up-2{
  display: none;
}
.scroll-up {
  position: fixed;
  bottom: 55px;
  right: 5px;
  transition: 0.5s;
  z-index: 99;
}
.scroll-up i {
  color: var(--maincolor);
}

.scroll-up i:hover {
  opacity: 0.8;
  transition: 0.5s;
}

/* DIV INTRO */

/* SECTION MENU */

section.menu-burger {
  font-family: Montserrat;
  padding: 50px 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
div.all_cards-burgers {
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
div.double-card-burgers {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 420px;
  flex-direction: column;
}
div.card-burger {
  height: 420px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  color: white;
  transition: 0.6s;
  width: 596px;
}
div.card-burger > img {
  position: absolute;
  z-index: -1;
}
div.card-burger:hover{
  transition: 0.6;
  transform: translateX(15%);
}
div.card-burger > h3 {
  position: relative;
  z-index: 20;
  margin-left: 15px;
  font-size: 18px;
  margin-top: 20px;
}
div.card-burger > h2 {
  position: relative;
  z-index: 20;
  margin-left: 15px;
  font-size: 25px;
}
div.card-burger-2 > h2 {
  width: 30%;
}
div.card-burger-2,
div.card-burger-3 {
  height: 192px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
button.alwaystastyburger {
  color: var(--maincolor);
  background-color: #ffbf45;
  font-family: Montserrat;
  font-weight: 700;
  transition: 0.5s;
  width: 250px;
  margin-top: 25px;
}
button.alwaystastyburger:hover {
  transition: 0.5s;
  background-color: #ffad16;
}
/* SECTION MENU */

/* CHOOSE & ENJOY */

section.choose-enjoy {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 100px 0;
  flex-direction: column;
}
section.choose-enjoy > h2 {
  font-size: 55px;
  font-weight: normal;
  margin-top: -20px;
  color: var(--maincolor);
}
section.choose-enjoy > p {
  font-size: 22px;
  font-weight: 400;
  font-family: Montserrat;
  margin-top: 10px;
  width: 74%;
  text-align: center;
  color: var(--maincolor);
  margin-bottom: 50px;
}
div.all_cards_burger-choose {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  width: 100%;
  align-items: center;
}
div.card_choose {
  display: flex;
  justify-content: space-evenly;
  height: 550px;
  align-items: center;
  flex-direction: column;
}
div.card_choose > img {
  width: 440px;
  height: 271px;
}
div.card_choose:nth-child(2) > img {
  width: 342px;
  height: 271px;
}
div.card_choose > p.title_burger {
  color: var(--maincolor);
  font-family: Montserrat;
  font-weight: 700;
  font-size: 25px;
}
div.card_choose > p.description-burger {
  color: var(--maincolor);
  font-family: Montserrat;
  font-weight: 400;
  width: 70%;
  text-align: center;
  font-size: 18px;
}
button.btn-order-now {
  width: 200px;
  border-radius: 0;
  transition: 0.5s;
}
button:hover {
  transition: 0.5s;
  background-color: #fb1111;
}
/* CHOOSE & ENJOY */

/* SLIDER STORY */

section.story {
  display: flex;
  justify-content: center;
  align-items: center;
}
div.slider {
  display: flex;
  width: 70%;
  border-radius: 5px;
  padding: 25px;
  align-items: center;
  box-shadow: 2px 2px 20px rgb(156, 156, 156);
  justify-content: center;
}
div.left-slider {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 300px;
  color: var(--maincolor);
  padding-left: 30px;
  font-family: Montserrat;
  flex-direction: column;
}
p.subtitle-slider {
  font-size: 35px;
  color: rgb(59, 59, 59);
  text-transform: uppercase;
}
p.title-slider {
  font-size: 50px;
  margin-top: -10px;
  font-weight: 400;
  font-family: Alfa Slab One;
  text-transform: uppercase;
}
p.lorem-slider {
  width: 70%;
  line-height: 30px;
  margin: 10px 0;
  font-size: 18px;
}
div.right-slider > img {
  width: 1500px;
}
div.points-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 9%;
}
div.round-slider {
  width: 17px;
  height: 17px;
  background-color: #dbdbdb;
  border-radius: 50%;
}
div.round-active {
  background-color: #ffbf45;
}
/* SLIDER STORY */

/* RESERVATION BOOK YOUR TABLE */
h4.subtitle-reservation {
  font-family: Montserrat;
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--maincolor);
}
h2.title-reservation {
  font-size: 40px;
  font-weight: 400;
  color: var(--maincolor);
}
section.reservation {
  display: flex;
  align-items: center;
  padding: 100px 0;
  justify-content: center;
  flex-direction: column;
}
section.reservation > img {
  position: absolute;
}
section.reservation > img.img-burger-reservation {
  margin-left: -820px;
  margin-top: -130px;
  width: 411px;
}
section.reservation > img.img-bottle-reservation {
  margin-left: -450px;
  margin-top: 70px;
  width: 181px;
}
section.reservation > img.img-plate-reservation {
  margin-left: 710px;
  margin-top: 120px;
  width: 413px;
}
form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 500px;
  height: 260px;
}
form > div {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  align-items: center;
  width: 820px;
}
input,
button {
  width: 346px;
  border-radius: 3px;
  border: 1px solid grey;
  padding: 0;
  margin: 0;
  transition: 0.5s;
  padding: 18px 15px;
}
input::placeholder {
  font-size: 18px;
  font-family: Bebas Neue;
  text-transform: uppercase;
}
input[type="text"] {
  font-size: 20px;
  font-family: Bebas Neue;
}
button {
  width: 376px;
  background-color: #d61616;
  border: none;
  font-size: 17px;
  padding: 17px 12px;
  color: white;
  font-family: Alfa Slab One;
}
/* RESERVATION BOOK YOUR TABLE */

/* FOOTER */
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  color: white;
  background-repeat: no-repeat;
  font-family: Montserrat;
  flex-direction: column;
  background-size: cover;
  margin-bottom: 50px;
  height: 600px;
}
div.top,
div.bottom,
div.left,
div.right {
  display: flex;
  justify-content: center;
  align-items: center;
}
div.top {
  width: 95%;
  margin-top: 50px;
}
div.left {
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  height: 300px;
  width: 80%;
}
div.right {
  flex-direction: column;
  margin-top: 160px;
  width: 30%;
}
div.right > div {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
div.right > div > img {
  margin-right: 20px;
}
div.right > div > p {
  font-size: 14px;
}
div.left > p.lorem_footer {
  width: 38%;
  line-height: 24px;
  font-family: arial, sans-serif;
}
div.map {
  margin-bottom: 20px;
}
div.bottom {
  justify-content: space-between;
  width: 95%;
  margin-bottom: 20px;
}
div.social_media {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 10%;
}
.fa-brands {
  color: black;
  padding: 5px 6px;
  border-radius: 50%;
  font-size: 20px;
  background-color: white;
}
/* FOOTER */
